<div class="category-contant">
  <ul>
    <li><a class="no-brd" [routerLink]="['/home/products/all']">عرض الكل</a></li>
    <li *ngFor="let category of categoryService.categories">
      <a [routerLink]="['/home/products/'+category?.categoryName|replace]">{{category?.categoryName}}</a>
    </li>
    <!-- <li><a [routerLink]="['/home/products/Laptops']">Laptops</a></li>
        <li><a [routerLink]="['/home/products/Smartphones']">Smart Phones</a></li>
        <li><a [routerLink]="['/home/products/Cameras']">Cameras</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio']">Tv & Audio</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Watches</a></li> -->
  </ul>
</div>
