// Color 1 scss
@import "scss/color3";

.banners-container .seccond {
  direction: ltr;
}
.price {
  text-align: right;
}

.popular-products .title-header h4::after,
.details-wrapper .products .title::after,
.my-account .my-account-wrap .title::after,
.widget-title::after {
  right: 0 !important;
}



.img-fluid,
.media-image {
  margin-left: 8px;
  margin-right: 0 !important;
}

.popular-products .reviews .content .media {
  margin-left: 7px;
  margin-right: 0 !important;
}
.product-item
  .mat-card:not([class*="mat-elevation-z"])
  .product-info-wrapper
  .icons {
  left: 10px !important;
  right: auto !important;
}

.main-topbar .top-bar .widget-text:not(:last-child) {
  margin: 0 0 0 20px !important;
}

.main-topbar .top-bar .widget-text .mat-button-wrapper img {
  margin-left: 3px;
  margin-right: 0 !important;
}

.carousel-2 .slider-categories {
  padding-left: 15px;
  padding-right: 0 !important;
}

.logo {
  margin-right: 27px;
  margin-left: 70px !important;
}

.details-wrapper .small-carousel .swiper-container-rtl .swiper-button-prev {
  right: 0px !important;
  left: auto !important;
}

.details-wrapper .small-carousel .swiper-container-rtl .swiper-button-next {
  left: 0px !important;
  right: auto !important;
}

.spCard-main .spCard-dropdown .new-product .item .product {
  margin-left: 7px;
  margin-right: 0 !important;
}

.spCard-main .spCard-dropdown .new-product .close-circle a {
  float: left !important;
}

.home-header .search-form .btn-search {
  left: 0 !important;
  right: auto !important;
  border-radius: 3px 0px 0px 3px !important;
}

.footer .footer-widget .tel-box .icon i {
  margin-left: 5px !important;
  margin-right: 0 !important;
}

.call {
  transform: rotate(258deg);
  margin-left: 19px !important;
}
.info-bar .card-wrap .mat-icon {
  margin-left: 10px;
  margin-right: 0 !important;
}

.bynow {
  margin-top: 15px !important;
}

.compare-component .table-responsive .table tbody tr td,
.compare-component .table-responsive .table tbody tr th,
.compare-component .table-responsive table thead .th-compare td {
  text-align: center;
}

.cart-quantity {
  direction: ltr;
  text-align: right;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image:none !important
}

.details-wrapper .info-bar .mat-icon {
  margin-left: 15px;
  margin-right: 0 !important;
}

h3{
  text-align: right !important;
}

.contact-page .left-info-panel ul li i {
  float: right !important;
  margin-left: 7px;
  margin-right: 0 !important;
}
